@import url('https://fonts.googleapis.com/css?family=Gabriela|Roboto&display=swap');

body {
  width: 1024px;
  margin: auto;
}

a {
  text-decoration: none;
}

.load-animation {
  margin: auto;
  width: 200px;
  display: block;
}

.load-animation_hidden {
  visibility: hidden;
}

.hash-tag {
    display: block;
    font-weight: normal;
    margin-left: 100px;
    margin-top: 46px;
    font-family: Gabriela, fantasy;
    font-size: 42px;
    line-height: 15px;
}

.hash-tag_hidden {
    visibility: hidden;
    position: absolute;
}

.adventures {
    display: block;
    padding-bottom: 20px;
}
