<header class="header">
    <a href="/">
        <img  class="header__logo" src="{{staticBasePath}}logo.svg">
        <img class="header__company-name" src="{{staticBasePath}}company-name.svg">
    </a>
</header>
